/* Workspaces */
window#waybar {
    background-color: #000000;
    color: #bbbbbb;
}

#workspaces {
    margin: 4 5px;
}

#workspaces button {
    padding: 0 5px;
    margin: 2px;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    color: #000000;
    background-color: #e60000;
    border-radius: 10px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}
